body{
    margin-top: 8%;
    margin-left: 8%;
    margin-right: 8%;
    background-color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}

header h1{
    margin: 0%;
}

aside{
    background-color: #222A44;
    color: gainsboro;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px; 
}

section{
    padding-left: 10px;
    width: 70%;   
}

.ASD{
    display: flex;
    flex-wrap: wrap;
}

.IMG {
    display: flex;
    justify-content: center;
}

#Lol {
    border-radius: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: white;
}

.Nombre {
    margin-top: 1rem;
}

.Nombre h2{
    margin-bottom: 1px;
    margin-top: 1px;
}

.Nombre h4 {
    margin: 1px;
}

.kkk {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}

.Js{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #222A44;
}

.js header{
    margin: 0px;
    color: gainsboro;
}

.nose{
    color: gainsboro;
    margin-bottom: 0px;
}

.calculadora{
    margin-bottom: 2%;
}

.pantalla{
    background-color: aliceblue; 
    border-radius: 20px ;
    max-width: 16rem;
    height: 3rem;
    margin-bottom: 1rem;
}

.pantalla p {
    text-align: end;
    width: 90%;
    font-size: 25px ; 
}

.numeros input{
  width:60px;
  height: 60px;
  font-size: 25px;
  border-radius: 20px;
  border-color: #222A44;
}



@media (max-width: 1245px) {
    .ASD{
        flex-direction: column;
    }

    aside{
        width: 100%;
        border: 0px solid red;
    }
    .kkk{
        justify-content: flex-start;
    }
    section{
        width: 98%;
        border: 0px solid red;
    }
}

@media (max-width: 900px) {
    body{
        margin: 0px;
    }
}